
<div class="listscontainer">
    <% @lists.each do |l| %>
      <div class="row collection">
        <div class="col-md-2 collectPhoto">
          <img src="http://res.cloudinary.com/ga-mao/image/upload/v1508109414/project4/icons_new1.png" alt="icon1">
        </div>
        <div class="col-md-9 col-md-offset-1">
         <ul>
          <li class ='list'>
            <h2><%= link_to l.name, list_path(l) %></h2>
            <p><%= link_to l.description, list_path(l) %></p>
              <div class ='btn'>
                <p><%= link_to 'Edit', edit_list_path(l) %></p>
                <p><%= link_to 'Delete', l, method: :delete, data: { confirm: 'Are you sure?' }  %></p>
              </div>
          </li>
          </ul>
        </div>
      </div>
    <% end %>
</div>


<%= link_to 'Add New items ', new_item_path , class: 'crudbutton'%>


