
<div class="listShow">
  <% @items.each do |i| %>
  <div class="row" id ="listSingle">
    <div class="col-md-12 listPhoto">
    <img class="photo" src=<%= i.photo %> />
    </div>
    <div class="col-md-12">
      <ul>
        <li class ='list'>
          <h2 id ="listheader"><%= link_to i.name, item_path(i) %></h2>
          <h3><%= link_to i.category.subject %></h3>
          <p><%= link_to i.description, item_path(i) %></p>
          <div class ='btn'>
            <p><%= link_to 'Edit', edit_item_path(i) %></p>

          </div>
        </li>
      </ul>
    </div>
  </div>
  <% end %>
</div>

<%= link_to 'Add New items ', new_item_path , class: 'crudbutton'%>

<h1>LeVEL 2 Items Collection</h1>
<h1>Lists#show</h1>
<p>Find me in app/views/lists/show.html.erb</p>


