<div class = "form crudForm">

  <%= form_tag :action => 'create' do %>
    <label for = "item_name">Name</label>
    <%= text_field 'items', 'name' , class: 'text_field'%>

    <label for = "item_description">Description</label>
    <%= text_field 'items', 'description' , class: 'text_field'%>

    <label for = "item_category_id">Category</label>
    <%= collection_select(:items, :category_id, @categories, :id, :subject, prompt: true) %>

    <%= submit_tag "Add", class: 'addButton' %>
  <% end -%>

  <%= link_to 'Back to List', {:action => 'index'} %>

</div>

<h1>Items#form</h1>
<p>Find me in app/views/items/form.html.erb</p>

