<h1>Items#index</h1>
<p>Find me in app/views/items/index.html.erb</p>
<p>LIST ITEM PATH</p>

<div class="itemscontainer">
  <%= link_to 'Add New items ', new_item_path , class: 'crudbutton'%>
  <ul>
    <% @items.each do |i| %>
      <li class ='List'>
        <h2><%= link_to i.name, item_path(i) %></h2>
        <p><%= link_to i.category.subject %></p>
        <p><%= link_to i.description, item_path(i) %></p>
        <div class ='btn'>
          <p><%= link_to 'Edit', edit_item_path(i) %></p>

        </div>
      </li>
    <% end %>
  </ul>
</div>
