

<div class="itemShow">
  <div class="row">
    <div class="col-md-7 showPhoto">
      <img class="photo" src=<%= @item.photo %> />
    </div>
    <div class="col-md-4">
      <h2><%= @item.name %></h2>
      <h3><%= @item.category.subject %></h3>
      <h3><%= @item.description  %></h3>
      <div class="allBtns">
        <%= link_to 'Home', list_path, class: 'showbtn' %>
        <%= link_to 'Edit', edit_item_path, class: 'showbtn' %>
        <%= link_to 'Delete', item_path(@item), method: :delete, data: { confirm: 'Are you sure?' }, class: 'showbtn' %>
      </div>
    </div>
  </div>
</div>

<h1>LeVEL 3 Individual Collection</h1>
<h1>Items#show</h1>









