<h1>Items#show</h1>
<p>Find me in app/views/items/show.html.erb</p>

<h2><%= @item.name %></h2>
<h2><%= @item.description  %></h2>

<%= link_to 'Home', items_path %>
<%= link_to 'Edit', edit_item_path %>
<%= link_to 'Delete', item_path, method: :delete, data: { confirm: 'Are you sure?' } %>
